<div [ngClass]="{container: true, component: true, animated: true, float: !activeState, fadeOutLeft: !activeState, fadeInRight: activeState}">
  <div class="component" [@selectState]="state">
    <h3>Categories</h3>
    <ul class="list-group">
      <li class="list-group-item"><Button class="btn btn-default" (click)="displayItems('Characters')">Characters</Button></li>
      <li class="list-group-item"><Button class="btn btn-default" (click)="displayItems('Films')">Films</Button></li>
      <li class="list-group-item"><Button class="btn btn-default" (click)="displayItems('Species')">Species</Button></li>
      <li class="list-group-item"><Button class="btn btn-default" (click)="displayItems('Starships')">Starship</Button></li>
      <li class="list-group-item"><Button class="btn btn-default" (click)="displayItems('Vehicles')">Vehicles</Button></li>
      <li class="list-group-item"><Button class="btn btn-default" (click)="displayItems('Planets')">Planets</Button></li>
    </ul>
  </div>
</div>